 @import "bootstrap-sprockets";
 @import "bootstrap";

 table, td, th  {
    border: 2px solid black;
    min-width: 100px;
 }

 tbody {
    border-collapse: collapse;
    width: 50%;
    tr:hover {background-color: coral;}
  }
  

  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #1504aa;
    color: white;
    height: 70px;
    
  }

  .title-container {
    margin-bottom: 20px;
  }

  .mynavbar{
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(51, 51, 51);
        position: fixed;
        top: 0;
        width: 100%;
      }
      
      li {
        float: left;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #04AA6D;
      }
  }